body {
  background-color: pink;
}

form {
  background-color: white;
  padding: 20px;
}

/* This css file is not importing in AddNinja.js file but the form style is applied to that form */
/* index.css file is not require to import to any component it automatically applied to everywhere */
